{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

    {% for lesson in lessons %}

    <h1>  {{ lesson.Name }}   </h1>
        <p>
            {{  lesson.categoryId }}
        </p>

    {% endfor %}



{% endblock %}
